@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Empréstimos OnLine</h1>
    <p>Abra um livro, deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div>
        <img src="/img/book.png" />
    </div>
</div>
